<div class="page-header">
  <h1>
    Cuisines
  </h1>
</div>


<div class = "container-fluid">
  <div class="row">
    <% @cuisines.order('cuisine_name').each do |cuisine| %>
    <div class="col-sm-6 col-md-4">

      <a href="/cuisines/<%= cuisine.id %>">  <h5 class = "caption"><%= cuisine.cuisine_name %></h5> </a>
      <a href="/cuisines/<%= cuisine.id %>"> <img src="<%= cuisine.photo %>" style= "height:300px; width:300px" class = "thumbnail"> </a>

    </div>
    <% end %>
  </div>
</div>
