<div class="page-header">
  <h1>
    Special diets
    <a href="/special_diets/new" class="btn btn-lg btn-success">New Special diet</a>
  </h1>
</div>


<div class = "container-fluid">
  <div class="row">
    <% @special_diets.order('special_diet_name').each do |special_diet| %>
    <div class="col-sm-6 col-md-4">

      <a href="/special_diets/<%= special_diet.id %>">  <h5 class = "caption"><%= special_diet.special_diet_name %></h5> </a>
      <a href="/special_diets/<%= special_diet.id %>"> <img src="<%= special_diet.photo %>" style= "height:300px; width:300px" class = "thumbnail"> </a>

    </div>
    <% end %>
  </div>
</div>
