<div class="page-header">
  <h1>
    Occassions
  </h1>
</div>


<div class = "container-fluid">
  <div class="row">
    <% @occassions.order('occassion_name').each do |occassion| %>
    <div class="col-sm-6 col-md-4">

      <a href="/occassions/<%= occassion.id %>">  <h5 class = "caption"><%= occassion.occassion_name %></h5> </a>
      <a href="/occassions/<%= occassion.id %>"> <img src="<%= occassion.photo %>" style= "height:300px; width:300px" class = "thumbnail"> </a>

    </div>
    <% end %>
  </div>
</div>
